<%- include("./partials/head") %>

<body>
	<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/" method="post">
					<label for="usuario" class="form-label">Nombre de usuario:</label>
					<input type="text" name="usuario" value="" class="form-input">

					<label for="contraseña" class="form-label">Contraseña:</label>
					<input type="password" name="contraseña" value="" class="form-input">

					<label for="recordarme" class="form-label">Tildá la siguiente casilla si querés recordar tu información de inicio de sesión:</label>
					<input type="checkbox" name="recordarme" class="form-input">
					
					<label for="enviar" class="form-label">Hacé clic debajo para iniciar sesión:</label>
					<button type="submit" name="enviar" class="form-input">Iniciar sesión</button>
				</form>
			</h2>
			
	<%- include("./partials/footer") %>
</body>

</html>