<%- include("./partials/head") %>

<body>
	<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/login" method="post">
					<% if(locals.errors){%>
						<p class="error"> <%= errors.message %> </p>
					<% } %>

					<label for="email" class="form-label">Email:</label>
					<input type="email" name="email" value="" class="form-input">

					<label for="password" class="form-label">Contraseña:</label>
					<input type="password" name="password" value="" class="form-input">

					<label for="remember" class="form-label">Tildá la siguiente casilla si querés recordar tu información de inicio de sesión:</label>
					<input type="checkbox" name="remember" class="form-input">
					
					<label for="enviar" class="form-label">Hacé clic debajo para iniciar sesión:</label>
					<button type="submit" name="enviar" class="form-input">Iniciar sesión</button>
				</form>
			</h2>
			
	<%- include("./partials/footer") %>
</body>

</html>