<%- include("./partials/head") %>

<body>
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<main class="main registro">
				<div class="div-registro">
					<form action="/products/product/new" method="POST" enctype="multipart/form-data">
						<% if (locals.errors) { %>
							<p class="error"><%= errors.message %>  </p>
						<% } %>
						
						<div>
							<label label for="image" class="form-label">Agregá la imagen de tu producto:</label>
							<input type="file" name="image" value="" class="form-input" required>
						</div>
						<div>
							<label label for="nombre" class="form-label">Nombre del producto:</label>
							<input type="text" name="nombre" value="" class="form-input" required>
						</div>
						<div>
							<label label for="description" class="form-label">Descripción:</label>
							<input type="text" name="description" value="" class="form-input" required>
						</div>
						<div>
						<button class="form-input" type="submit">Enviar</button>
						</div>
					</form>
				</div>
			</main>		
			
	<!-- Novedades -->
	<%- include("./partials/footer") %>
</body>

</html>