<%- include("./partials/head") %>

<body>
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<main class="main registro">	
				<div class="div-registro">
					<form class="form-registro" action="/products/product-edit/<%= data.id %>" method="POST">
						<div>
							<label for="nombre" class="form-label">Nombre del producto:</label>
							<input type="text" name="nombre" value="" class="form-input" required>

							<label for="descripcion" class="form-label">Descripción del producto:</label>
							<input type="text" name="descripcion" value="" class="form-input" required>

							<label for="fecha" class="form-label">Fecha de carga:</label>
							<input type="date" name="fecha" value="" class="form-input" required>

							<label for="enviar" class="form-label">Hacé clic debajo para guardar los cambios:</label>
							<input type="submit" name="enviar" class="form-input">
						</div>
					</form>
				</div>
			</main>
        </div>
    </div>
            
	<!-- Novedades -->

	<%- include("./partials/footer") %>
</body>

</html>