<%- include("./partials/head") %>

<body>
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="get">
					<label for="Imagen" class="form-label">Inserte imagen del producto:</label>
					<input type="file" name="file" value="" class="form-input">

					<label for="Nombre" class="form-label">Nombre del producto:</label>
					<input type="text" name="nombre" value="" class="form-input">

					<label for="Descripcion" class="form-label">Descripción del producto:</label>
					<input type="text" name="descripcion" value="" class="form-input">

					<label for="fecha de carga" class="form-label">Fecha de carga:</label>
					<input type="date" name="fecha" value="" class="form-input">

					<label for="enviar" class="form-label">Hacé clic debajo para guardar los cambios:</label>
					<input type="submit" name="enviar" class="form-input">
				<form>	
			</h2>
	<!-- Novedades -->

	<%- include("./partials/footer") %>
</body>

</html>