<%- include("./partials/head") %>

<body>
	<%- include("./partials/header") %>
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/register" method="post" enctype="multipart/form-data">
					<% if(locals.errors){%>
						<p class="error"> <%= errors.message %> </p>
					<% } %>

					<label for="email" class="form-label">Email:</label>
					<input type="email" name="email" value="" class="form-input">
					
					<label for="nombre" class="form-label">Nombre:</label>
					<input type="text" name="nombre" value="" class="form-input">
					
					<label for="apellido" class="form-label">Apellido:</label>
					<input type="text" name="apellido" value="" class="form-input">

					<label for="password" class="form-label">Contraseña:</label>
					<input type="password" name="password" value="" class="form-input"> 
					
					<label for="nacimiento" class="form-label">Fecha de nacimiento:</label>
					<input type="date" name="nacimiento" value="" class="form-input">
				
					<!-- <label for="documento" class="form-label">Número de documento:</label>
					<input type="number" name="documento" value="" class="form-input"> -->
				
					<label for="avatar" class="form-label">Foto de perfil:</label>
					<input type="file" name="avatar" value="" class="form-input">

					<label for="enviar" class="form-label">Hacé clic debajo para registrarte:</label>
					<input type="submit" name="enviar" class="form-input">
				</form>
			</h2>
			
	<%- include("./partials/footer") %>
</body>

</html>